navigationPage {
  background-color: #2196F3;
  color: white;
}

stackLayout {
  background-color: #2196F3;
}

label {
  color: white;
}

#importantLabel {
  color: white;
  font-size: 30;
  font-style: bold;
}

#sharedLabel {
  color: #868686;
  font-size: 8;
  font-style: bold;
}