stackLayout {
  padding: 15;
  -xf-spacing: 20; }

stackLayout > label {
  font-size: medium; }

#importantLabel {
  font-size: small;
  font-style: bold; }

#sharedLabel {
  font-size: small;
  font-style: bold;
  background-color: #868686; }
